<div ibmGrid class="ml-5">

  <form [formGroup]="tipForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>
        Tip naam:
      </label>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
      <label>
        Tip beschrijving:
      </label>
    </div>
    <div class="form-group">
      <input type="text" size="35" class="form-control" formControlName="description">
    </div>

    <div class="form-group">
      <select formControlName="selectedAction" class="form-control">
        <option [ngValue]="actionType" *ngFor="let actionType of actionTypes" >{{actionType}}</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!tipForm.valid">Tip bewerken</button>
    </div>

  </form>

  <button (click)="deleteTip()" class="btn btn-danger">Delete tip</button>

</div>