<div style="height: 90vh; width: 30vw;">
  <div ibmGrid>
    <div ibmRow>
      <div ibmCol>

        <div style="background-color: #F3F3F3; padding-bottom: 1em" ibmGrid>
          <div ibmRow [gutter]="false" *ngFor="let message of messages">
            <div ibmCol>
              <app-message [message]="message"></app-message>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div ibmRow style="margin-top: 1em">
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div ibmCol [columnNumbers]="{'lg': 9}">
          <textarea formControlName="message" style="resize: none;" ibmTextArea aria-label="textarea" [rows]="4"></textarea>
        </div>
        <div ibmCol [columnNumbers]="{'lg': 3}" style="align-self: center">
          <button ibmButton type="submit">
            <svg ibmIconSend32 fill="white"></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

