<div *ngIf="chatService.selected" ibmGrid style="overflow: hidden;">
  <div ibmRow>
    <div ibmCol>
      <ibm-icon-close size="32" [routerLink]="['/chat']"></ibm-icon-close>
    </div>
  </div>

  <div ibmRow style="overflow: auto; height: 75vh;">
    <div ibmCol>
      <div ibmGrid>
        <div #chatScroll [scrollTop]="scrollHeight">
          <div *ngFor="let message of chatService.messages"  [gutter]="false" ibmRow>
            <div ibmCol>
              <app-message [message]="message"></app-message>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(null)" [formGroup]="messageFormGroup" class="type-bar">
    <div ibmRow gutter="true">

      <div ibmCol [columnNumbers]="{'md': 1, 'sm': 1}">
        <ibm-toggle
          offText="Bot"
          onText="Bot"
          (click)="onChatToggle(chatService.chatWithBot)"
          [(checked)]="chatService.chatWithBot">
        </ibm-toggle>
      </div>
      <div ibmCol [columnNumbers]="{'md': 6, 'sm': 2}">
        <ibm-label (keyup.enter)="onSubmit($event)">
          <input aria-label="textarea" formControlName="message"
                 ibmTextArea
                 placeholder="Messages"/>
        </ibm-label>
      </div>
      <div ibmCol [columnNumbers]="{'md': 1, 'sm': 1}">
        <button class="button" type="submit">
          <ibm-icon-send-alt size="32"></ibm-icon-send-alt>
        </button>
      </div>
    </div>

  </form>

</div>
