ibm-table-container{
  margin-bottom: 50px;
}

table.table ul.dropdown-menu{
  position:relative;
  float:none;
  max-width:160px;
}

#actionsremindersrow {
  // height: 90px;
}

#dropdownMenuButton{
  background-color: #0f62fe;
  border-radius: 0px;
}

.th-dark{
  background: #e0e0e0;
  font-weight: bold;
}

.th-white{
  background: #fff;
}
