
<div ibmGrid>
  <div ibmRow>
    <div ibmCol [offsets]="{ sm: 4 }" [columnNumbers]="{ lg: 12 }">

<div>
  <ibm-notification [notificationObj]="{
				type: 'success',
				title: tipTitle,
				message: tipDescription,
				showClose: false}">
  </ibm-notification>

  <ibm-table-container>
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>Welcome, {{this.userName}}</h4>
    </ibm-table-header>
    <ibm-table *ngIf="userInformation.data.length > 0"
               [model]="userInformation"
               [showSelectionColumn]="false"
               [striped]="true"
               [sortable]="true"
               [stickyHeader]="false"
               [skeleton]="false"
    ></ibm-table>

  </ibm-table-container>

  <div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="th-dark">Action Type</th>
					<th class="th-dark">Description</th>
					<th class="th-dark">Reminder</th>
				</tr>
			</thead>
			<tbody>
        <tr id="actionsremindersrow" class="dropdown th-white" *ngFor="let action of actions">
          <th>{{getActionTypeFromNumber(action.type)}}</th>
          <th>{{action.description}}</th>
          <th>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{intervalText}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" *ngFor="let reminderInterval of reminderIntervals; let i = index;" (click)="setReminderInterval(action.id, i)">
                {{reminderInterval}}
              </a>
            </div>
          </th>
        </tr>
			</tbody>
		</table>
  </div>
  <ibm-table-container *ngIf="this.userRole === 'patient' || this.userRole === 'admin'">
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>Your actions</h4>
      <p ibmTableHeaderDescription>Here we store all your actions to see!</p>
    </ibm-table-header>
    <ibm-table *ngIf="!firstTime"
      [model]="actions"
      [showSelectionColumn]="false"
      [striped]="true"
      [sortable]="true"
      [stickyHeader]="false"
      [skeleton]="false"
    ></ibm-table>
    <div *ngIf="firstTime" style="text-align: center">
      <p>Uh Oh, it looks like you don't have any actions. press the button to create some now!</p>
      <button ibmButton="primary" (click)="startTutorial()">Click me!</button>
    </div>

  </ibm-table-container>

  <ibm-table-container *ngIf="this.userRole === 'patient' || this.userRole === 'admin'">
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>Your goals</h4>
      <p ibmTableHeaderDescription>Here we store all your goals to see!</p>
    </ibm-table-header>
    <ibm-table *ngIf="!firstTime"
      [model]="goals"
      [showSelectionColumn]="false"
      [striped]="true"
      [sortable]="true"
      [stickyHeader]="false"
      [skeleton]="false"
    ></ibm-table>
    <div *ngIf="firstTime" style="text-align: center">
      <p>Uh Oh, it looks like you don't have any goals. press the button to create some now!</p>
      <button ibmButton="primary" (click)="startTutorial()">Click me!</button>
    </div>
  </ibm-table-container>

    <button ibmCol ibmButton [routerLink]="['/create-invite']">
      Invite {{this.getInviteName()}}
    </button>

    </div>
    </div>
  </div>
</div>
