<div>
  <ibm-notification [notificationObj]="{
				type: 'success',
				title: tipTitle,
				message: tipDescription,
				showClose: false}">
  </ibm-notification>


  <ibm-table-container>
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>Your actions</h4>
      <p ibmTableHeaderDescription>Here we store all your actions to see!</p>
    </ibm-table-header>
    <ibm-table [model]="actions" [showSelectionColumn]="false"></ibm-table>
  </ibm-table-container>

  <ibm-table-container>
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>Your goals</h4>
      <p ibmTableHeaderDescription>Here we store all your goals to see!</p>
    </ibm-table-header>
    <ibm-table [model]="goals" [showSelectionColumn]="false"></ibm-table>
  </ibm-table-container>
</div>

