<a class="btn btn-primary" [routerLink]="['../buddy/add']">Add Buddy</a>

<!-- <ibm-table-container>
    <ibm-table class="data-table" [skeleton]="skeletonStateTable" [model]="model" size="lg" [showSelectionColumn]="false">
        <ng-content></ng-content>
    </ibm-table>
</ibm-table-container> -->

<table class="table table-hover">
    <thead class="thead-dark">
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let buddy of buddies">
            <td>{{buddy.id}}</td>
            <td>{{buddy.name}}</td>
            <td>{{buddy.phoneNumber}}</td>
            <td><button class="btn btn-danger" (click)="deleteBuddy(buddy.id)">Delete</button></td>
        </tr>
    </tbody>
</table>