<ng-progress [thick]="true" [trickleSpeed]="50"></ng-progress>
<ibm-header name="Diabuddy" brand="" (window:resize)="onResize($event)">
  <ibm-hamburger *ngIf="hasHamburger" [active]="active" (selected)="active = !active"></ibm-hamburger>
  <ibm-header-navigation>
    <ibm-header-item [route]="['authenticate']">Login</ibm-header-item>
    <ibm-header-item [route]="['chat']">Chat</ibm-header-item>
  </ibm-header-navigation>
</ibm-header>
<ibm-sidenav *ngIf="hasHamburger" [expanded]="active">
  <ibm-sidenav-item [route]="['authenticate']">
    <svg icon ibmIconFade size="16"></svg>
    Login
  </ibm-sidenav-item>
  <ibm-sidenav-item [route]="['chat']">
    <svg icon ibmIconFade size="16"></svg>
    Chat
  </ibm-sidenav-item>
</ibm-sidenav>

<div style="margin-top: 4rem">
  <router-outlet></router-outlet>
</div>
