<ng-progress [thick]="true" [trickleSpeed]="50"></ng-progress>
<ibm-header name="Diabuddy" brand="" (window:resize)="onResize($event)">
  <ibm-hamburger *ngIf="hasHamburger" [active]="active" (selected)="active = !active"></ibm-hamburger>
  <ibm-header-navigation>
    <ibm-header-item *ngIf="!authenticationService.loggedIn" [route]="['authenticate']">Login</ibm-header-item>
    <ibm-header-item *ngIf="authenticationService.loggedIn" [route]="['authenticate']" (click)="logoutOnClick()">Logout</ibm-header-item>
    <ibm-header-item *ngIf="authenticationService.loggedIn" [route]="['']">Home</ibm-header-item>
    <ibm-header-item *ngIf="authenticationService.loggedIn" [route]="['chat']">Chat</ibm-header-item>
    <ibm-header-item *ngIf="authenticationService.loggedIn" [route]="['doctor/tips']">Tips</ibm-header-item>
  </ibm-header-navigation>
</ibm-header>
<ibm-sidenav *ngIf="hasHamburger" [expanded]="active">
  <ibm-sidenav-item *ngIf="!authenticationService.loggedIn" [route]="['authenticate']" (click)="this.closeSideNav()">
    <svg icon ibmIconFade size="16"></svg>
    Login
  </ibm-sidenav-item>
  <ibm-sidenav-item *ngIf="authenticationService.loggedIn" [route]="['authenticate']" (click)="logoutOnClick()">
    <svg icon ibmIconFade size="16"></svg>
    Logout
  </ibm-sidenav-item>
  <ibm-sidenav-item *ngIf="authenticationService.loggedIn" [route]="['']" (click)="this.closeSideNav()">
    <svg icon ibmIconFade size="16"></svg>
    Home
  </ibm-sidenav-item>
  <ibm-sidenav-item *ngIf="authenticationService.loggedIn" [route]="['chat']" (click)="this.closeSideNav()">
    <svg icon ibmIconFade size="16"></svg>
    Chat
  </ibm-sidenav-item>
  <ibm-sidenav-item *ngIf="authenticationService.loggedIn" [route]="['doctor/tips']" (click)="this.closeSideNav()">
    <svg icon ibmIconFade size="16"></svg>
    Tips
  </ibm-sidenav-item>
</ibm-sidenav>

<div style="margin-top: 4rem">
  <router-outlet></router-outlet>
</div>

