<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                <div class="form-group mt-5">
                    <label for="exampleInputEmail1">Email address</label>
                    <input id="name" type="text" formControlName="name" class="form-group">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">
                    Phone Number
                    </label>
                    <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-group">
                </div>
                <div class="form-group">
                    <label for="groupId">
                    Group ID
                    </label>
                    <input id="groupId" type="text" formControlName="groupId" class="form-group">
                </div>
                <div class="form-group">
                    <label for="groupName">
                    Group Name
                    </label>
                    <input id="groupName" type="text" formControlName="groupName" class="form-group">
                </div>
                <button class="btn btn-success" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>