<div class="message-box other-message-box">
  <p class="other-p">BuddyBot</p>
  <span class="text bot-text">
      <div class="bot-border">
        {{message.content}}
      </div>
  </span>
  <ibm-line-chart [data]="data" [options]="options"></ibm-line-chart>
  <div ibmGrid *ngIf="message.listData.length > 0">
    <div ibmRow *ngFor="let data of message.listData" class="row-list">
      <div (click)="onClickSayText(data)" style="cursor: pointer" ibmCol>
        {{data.text}}
      </div>
      <div ibmCol [columnNumbers]="{'sm': 1}" style="text-align: center; cursor: pointer">
        <ibm-icon-trash-can *ngIf="data.isRemovable" size="20" (click)="onClickDelete(message, data)"></ibm-icon-trash-can>
      </div>
    </div>
  </div>
  <span>
        <ul>
          <ibm-tag *ngFor="let suggestion of suggestions" style="cursor: pointer" (click)="onSuggestionClicked(suggestion)">
              {{suggestion.text}}
          </ibm-tag>
        </ul>
    </span>

</div>
