.wrapper {
  display: flex;
  justify-content: start;
  flex-flow:column;
  width: 300px;
  height: 300px;
}


.copy-text {
  margin: 10px;
  background-color: beige;
  border: 0.5px solid black;
  border-style:dotted;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  user-select:all;
}
