
<div ibmGrid>
  <div ibmRow>
    <div ibmCol [offsets]="{ lg: 4 }" [columnNumbers]="{ lg: 4 }">
      <div class="send" *ngIf="isSend">
        <h1 *ngIf="this.role == 'doctor'">Invite patient</h1>
        <h1 *ngIf="this.role == 'patient'">Invite buddy</h1>
        <h1 *ngIf="this.role == 'admin'">Invite doctor</h1>

        <div [hidden]="success === false || success === null">
          <ibm-notification [notificationObj]="{
				type: 'success',
          title: 'Invite has been sent',
          message: 'An invite has been sent to the specified email. It may be in the spambox.',
          showClose: false,
          lowContrast: true}">
          </ibm-notification>
        </div>


        <div [hidden]="success === true || success === null">
          <ibm-notification [notificationObj]="{
				type: 'error',
          title: 'There was ann error sending the invite.',
          message: errorMessage,
          showClose: false,
          lowContrast: true}">
          </ibm-notification>
        </div>



        <form action="" [formGroup]="form" (ngSubmit)="submit()">
          <fieldset class="mb-06" *ngIf="!chatId && role != 'admin'">
            <ibm-label
              helperText="How do you want to call the chat?"
              invalidText="Please enter a valid chat name" [invalid]="isInvalid('chatName')">
              Chat name
              <input ibmText formControlName="chatName" name="chatName">
            </ibm-label>
          </fieldset>


          <fieldset class="mb-06">
            <ibm-label
              helperText="This is the email of the user you want to invite."
              invalidText="Please enter a valid email " [invalid]="isInvalid('email')">
              Email
              <input ibmText formControlName="email" name="email">
            </ibm-label>
          </fieldset>


          <fieldset class="mb-06">
            <div ibmRow>
              <div ibmCol>
                <button ibmButton class="mb-04" [disabled]="!form.valid">Send invite</button>
              </div>

              <div *ngIf="role != 'admin'" ibmCol>
                <button ibmButton class="mb-04" [routerLink]="['/chat']" [disabled]="!success">Go to chats</button>
              </div>
            </div>

          </fieldset>
        </form>

      </div>

      <div class="accept" *ngIf="this.invite">
        <form action="">
          <fieldset class="mb-06">
            <h3>Invitation</h3>

            <p>Welcome! <strong>{{invite.invitedBy}}</strong> has invited you to the Diabuddy community, this application is meant
              to help people with diabetes.</p>

             <p>You will be assigned the <strong>{{inviteTypes[invite.inviteType]}} role.</strong></p>
             <p>After accepting this invite. You will be able to register an account</p>
          </fieldset>


          <fieldset class="mb-06">
            <div ibmRow>
              <div ibmCol>
                <button ibmButton="primary" size="normal" (click)="acceptInvite()">Accept</button>
              </div>

              <div ibmCol>
                <button ibmButton="warning" size="normal" (click)="declineInvite()">Decline</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

