<div ibmGrid>
  <div ibmRow [gutter]="false">
    <div ibmCol>
      <ibm-structured-list [border]="true"
                           [condensed]="false"
                           [nowrap]="false">
        <ibm-list-header>
          <ibm-list-column>Gesprekken</ibm-list-column>
        </ibm-list-header>
        <ibm-list-row *ngFor="let item of chats" [routerLink]="['/chat/', item.chat.id]">
          <ibm-list-column>
            {{item.chat.name}}
          </ibm-list-column>
          <ibm-list-row *ngIf="this.getLastMessage(item)">
            <ibm-list-column>
              {{this.getLastMessage(item).content}}
            </ibm-list-column>
          </ibm-list-row>
        </ibm-list-row>
      </ibm-structured-list>
    </div>
  </div>
</div>
