<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                <div class="form-group">
                    <label for="sel1">Select Buddygroup:</label>
                    <select formControlName="groupName" class="form-control" id="sel1">
                        <option *ngFor="let groupName of groupNames" [selected]="buddy?.groupName">{{groupName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" value="{{buddy?.name}}" class="form-control" aria-describedby="emailHelp">

                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" formControlName="phoneNumber" value="{{buddy?.phoneNumber}}" class="form-control" aria-describedby="emailHelp">
                </div>
                <button class="btn btn-warning" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>