.mb-01 {
  margin-bottom: $spacing-01;
}

.mb-02 {
  margin-bottom: $spacing-02;
}

.mb-03 {
  margin-bottom: $spacing-03;
}

.mb-04 {
  margin-bottom: $spacing-04;
}

.mb-05 {
  margin-bottom: $spacing-05;
}

.mb-06 {
  margin-bottom: $spacing-06;
}

.mb-07 {
  margin-bottom: $spacing-07;
}

.mb-08 {
  margin-bottom: $spacing-08;
}

.mb-09 {
  margin-bottom: $spacing-09;
}

.mb-10 {
  margin-bottom: $spacing-10;
}

.mb-11 {
  margin-bottom: $spacing-11;
}

.mb-12 {
  margin-bottom: $spacing-12;
}

