$title-pad: 0.5rem;
$my-color: #707070;
$other-color: #AB0549;


.message-box {

  margin: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;

  &.my-message-box{
    text-align: right;
  }
  &.other-message-box{
    text-align: left;
  }
}

.message-box p {
  font-size: 0.6rem;

  &.my-p{
    margin-left: 0.3rem;
  }
  &.other-p{
    margin-right: 0.3rem;
  }
}

.message-time{
  vertical-align: center;
  display: block;

  font-size: 0.4rem;
  color: white;

  &.my-time{
    text-align: left;
  }

  &.other-time {
    text-align: right;
  }
}

.text {
  vertical-align: sub;
  text-align: left;
  display: inline-block;

  line-height: $title-pad + 1rem;
  padding: $title-pad;

  white-space: normal;

  border-radius: 0.6rem;
  color: white;

  word-wrap:break-word;

  &.my-text {
    max-width: 100%;
    background: $my-color;
  }

  &.other-text {
    max-width: 80%;
    background: $other-color;
  }
}
