<div *ngIf="message.senderId === auth.nameIdentifier; else otherUser">
  <div class="message-box my-message-box">
    <p class="my-p">{{message.senderName || message.senderId}}</p>
    <span class="text my-text" style="padding-right: 2em">
      {{message.content}}
      <div class="message-time my-time">
        <p>{{message.time || "16:16"}}</p>
      </div>
    </span>

  </div>
</div>

<ng-template #otherUser>
  <div class="message-box other-message-box">
    <p class="other-p">{{message.senderId}}</p>
    <span class="text other-text" style="padding-right: 2em">
        {{message.content}}
      <div class="message-time other-time">
        <p>15:39</p>
      </div>
    </span>

  </div>
</ng-template>
