<div *ngIf="message.senderId === auth.getNameIdentifier">
  <div class="message-box my-message-box">
    <p class="my-p">{{message.senderName || message.senderId}}</p>
    <span class="text my-text">
      {{message.content}}
      <div class="message-time my-time">
        <p>{{ message.sendDate | date:"HH:mm"}}</p>
      </div>
    </span>
  </div>
</div>

<div *ngIf="chatService.isChatWithBot() && message.senderId !== auth.getNameIdentifier" >
  <div class="message-box other-message-box">
    <p class="other-p">BuddyBot</p>
    <span class="text bot-text">
      <div class="bot-border">
        {{message.content}}
      </div>
    </span>
    <ibm-structured-list border="false" condensed="true" style="!important margin-bottom: 0">
      <ibm-list-header>
        <ibm-list-row *ngFor="let option of message.options">
          <ibm-list-column>{{option?.description}}</ibm-list-column>
        </ibm-list-row>
      </ibm-list-header>
    </ibm-structured-list>
    <span>
        <ul>
          <ibm-tag *ngFor="let suggestion of suggestions" style="cursor: pointer">
              {{suggestion?.name}}
          </ibm-tag>
        </ul>
    </span>
  </div>
</div>

<div *ngIf="!chatService.isChatWithBot() && message.senderId !== auth.getNameIdentifier">
  <div class="message-box other-message-box">
    <p class="other-p">{{message.senderName || message.senderId}}</p>
    <span class="text other-text">
        {{message.content}}
      <div class="message-time other-time">
        <p>15:39</p>
      </div>
    </span>
  </div>
</div>
